body {
    font-family: 'Wix Madefor Text', sans-serif;
}

li {
    list-style-type: none;
}

/* header */
.header-wrapper {
    width: 100%;
    height: 60px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: 1px solid var(--border);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-wrapper {
    display: flex;
    gap: 30px;
}

.calendar-logo {
    width: 40px;
    height: 40px;
}

.btn {
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    border: unset;
    background-color: #FFFFFF;
    cursor: pointer;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.btn--border {
    border: 1px solid var(--border);
    border-radius: .25rem;
}

.btn--round:hover {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.btn:hover,
.btn:focus {
    background-color: var(--hover);
}

/* main wrapper */
.main-wrapper{
    display: flex;
}

/* side wrapper */
.side-wrapper {
    width: max-content;
}

.side-calendar__header {
    display: flex;
    justify-content: space-between;
}

.side-calendar__body{
    font-size: 12px;
}

.side-calendar__week,
.side-calendar__list {
    display: grid;
    grid-template-columns: repeat(7, 40px);
    gap: 5px;
    margin: 5px 0;
}

.side-calendar__week>li,
.side-calendar__day {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-calendar__day:hover{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--hover);
}

.not-curr-month,
.side-calendar__week {
    color: var(--secondary);
}

.crr-day{
    color: var(--light);
    background-color: var(--accent-dark);
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.crr-day:hover{
    background-color: var(--accent-hover);
}

/* lg-calendar-wrapper */
.lg-calendar-wrapper{
    display: grid;
    grid-template-columns: repeat(2, auto) max-content ;
}

.lg-calendar__week-wrapper{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 3;
}

.lg-calendar__cell-wrapper{
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.lg-calendar__cell-item{
    height: 20px;
    width: 20px;
    border: 1px solid var(--secondary);
}